{% extends "_layout/master_landing.twig" %}
{% block content %}
<body class="body-home">
   <div class="sidemenu">
      <div class="w-clearfix sidemenu_top"><img width="21" src="{{ siteUrl('/img/55d4fdad3452375965433b89_cross-menu.png') }}" data-ix="sidemenu-close" class="sidemenu_top_cross cursor-pointer"></div>
      <a href="get-started.html" class="sidemenu_link">Get started</a><a href="features.html" class="sidemenu_link">Features</a><a href="solutions.html" class="sidemenu_link">Solutions</a><a href="pricing.html" class="sidemenu_link">Pricing</a><a href="about.html" class="sidemenu_link">About</a><a href="../developers.timekit.io/index.html" target="_blank" class="sidemenu_link">Docs</a>
   </div>
   <div class="w-section hero hero-tall hero-home">
      <div class="w-clearfix header">
         <a href="index.html" class="w-inline-block logo">
            <img width="39" src="{{ siteUrl('/img/55cd94bc645c0443051ad186_timekit-logo-white.png') }}">
            <div class="logo_name">NoHassl</div>
         </a>
         <div class="w-hidden-medium w-hidden-small w-hidden-tiny menu"><a href="features.html" class="menu_link">Features</a><a href="solutions.html" class="menu_link">SOLUTIONS</a><a href="pricing.html" class="menu_link">PRICING</a><a href="about.html" class="menu_link">ABOUT</a><a href="../developers.timekit.io/index.html" target="_blank" class="menu_link">DOCS</a></div>
         <div class="header_cta">
            <div data-ix="sidemenu-open" class="w-hidden-main cursor-pointer header_cta_burger"><img width="22" src="{{ siteUrl('/img/55d4f9743452375965433ad8_burger-menu.png') }}" class="header_cta_burger_icon"></div>
            <a href="get-started.html" class="w-hidden-tiny button button-linewhite">GET STARTED</a>
         </div>
      </div>
      <div class="hero_wrapper">
         <h1 class="hero_title hero_title-tall">The Future Of Business</h1>
         <p class="hero_subtitle hero_subtitle-lighter">Nohassl is the a revolution on customer engagement and retention. Time to change the world.</p>
         <a href="get-started.html" class="button button-margins button-darkblue">Get Started</a><a href="features.html" class="button button-margins button-white">Learn more</a>
         <BR><BR>
         <p class="hero_subtitle hero_subtitle-lighter">Scroll down for more.</p>
      </div>

      <div data-ix="mouse-page-scroll" class="mouse" >

        <img width="2" src="{{ siteUrl('/img/5643acec19e73b4432d8510c_mouse-touch.png') }}" data-ix="mouse-scroll-animation" class="mouse_touch"><img width="20" src="{{ siteUrl('/img/5643acddb0b1c8625d564c41_mouse-edge.png') }}" class="mouse_edge"></div>
      <a href="http://booking.timekit.io/" target="_blank" class="w-inline-block hero_announcement">
         <div data-ix="" class="w-container">
            <div class="hero_announcement_text">Announcing&nbsp;</div>
            <h2 class="hero_announcement_title">Nohassl.com</h2>
            <div class="hero_announcement_text">- &nbsp;a fresh new way to get new customers and retain your existing clients.</div>
         </div>
      </a>
   </div>
   <div class="w-section section section-padded">
      <div data-ix="" class="w-container">
         <div class="w-row">
            <div class="w-col w-col-4 keyfeature">
               <img height="110" src="{{ siteUrl('/img/55e8e0dbd52b9f5b494c66c3_jeremy-cal5.png') }}" class="keyfeature_icon">
               <h2 class="keyfeature_title">API driven queries</h2>
               <div class="keyfeature_text">• Create &amp; manage offers
                  <br>• Provide quotes to entice customers
                  <br>• Plan and staff your call centres
               </div>
            </div>
            <div class="w-col w-col-4 keyfeature">
               <img height="110" src="{{ siteUrl('/img/55e8e23b56f8a9931757b1ed_jeremy-filter5.png') }}" class="keyfeature_icon">
               <h2 class="keyfeature_title">Query for Availability</h2>
               <div class="keyfeature_text">• Smart filters to limit results
                  <br>• Stop customer churn
                  <br>• Intelligent support
               </div>
            </div>
            <div class="w-col w-col-4 keyfeature">
               <img height="110" src="{{ siteUrl('/img/55e8e246a161cb9117991980_jeremy-crane5.png') }}" class="keyfeature_icon">
               <h2 class="keyfeature_title">Build it your Way</h2>
               <div class="keyfeature_text">• Use only what you need<br>• Webhooks for notifications&nbsp;<br>• Deep analytics</div>
            </div>
         </div>
         <div class="inlinecenter"><a href="features.html" class="button button-blue">SEE FEATURES</a></div>
      </div>
   </div>
   <div class="w-section section section-padded section-gray">
      <div data-ix="" class="w-container">
         <h2 class="section_title">Simple &amp; Powerful API</h2>
         <div class="section_sep"></div>
         <p class="section_subtitle">JSON over REST that’s easy to consume in any language.<br>Made for developers, by developers.</p>
         <div class="w-tabs codepeek">
            <div class="w-tab-menu codepeek_menu">
               <a data-w-tab="Javascript" class="w-tab-link w--current w-clearfix w-inline-block codepeek_item">
                  <div class="codepeek_item_name">Javascript</div>
                  <div class="codepeek_item_sdk">SDK</div>
               </a>
               <a data-w-tab="PHP" class="w-tab-link w-clearfix w-inline-block codepeek_item">
                  <div class="codepeek_item_name">PHP</div>
                  <div class="codepeek_item_sdk">SDK</div>
               </a>
               <a data-w-tab="cURL" class="w-tab-link w-inline-block codepeek_item">
                  <div>Curl</div>
               </a>
               <a data-w-tab="Python" class="w-tab-link w-inline-block codepeek_item">
                  <div>Python</div>
               </a>
               <p class="codepeek_menu_comment">And every other language that can perform HTTP&nbsp;REST&nbsp;calls</p>
            </div>
            <div class="w-tab-content codepeek_content">
               <div data-w-tab="Javascript" class="w-tab-pane w--tab-active">
                  <div class="window window-dark">
                     <div class="window_bar window_bar-dark">
                        <div class="window_bar_button window_bar_button-dark"></div>
                        <div class="window_bar_button window_bar_button-dark"></div>
                        <div class="window_bar_button window_bar_button-dark"></div>
                     </div>
                     <div class="window_content">
                        <div class="w-clearfix codedemo">
                           <div class="w-embed codedemo_text">
                              <pre><code class="javascript">
// Find available time between two users for 2 hours within the next 3 weeks:
var timekit = require('timekit');
timekit.configure({app: 'demo'});
timekit.setUser(
  'doc.brown@timekit.io',
  'FluxCapacitator'
); 
timekit.findTime(
  [
    'doc.brown@timekit.io',
    'marty.mcfly@timekit.io'
  ],
  [],
  '2 hours',
  '3 weeks'
).then(function(result) { 
  console.log(result);
});
</code></pre>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div data-w-tab="PHP" class="w-tab-pane">
                  <div class="window window-dark">
                     <div class="window_bar window_bar-dark">
                        <div class="window_bar_button window_bar_button-dark"></div>
                        <div class="window_bar_button window_bar_button-dark"></div>
                        <div class="window_bar_button window_bar_button-dark"></div>
                     </div>
                     <div class="window_content">
                        <div class="w-clearfix codedemo">
                           <div class="w-embed codedemo_text">
                              <pre><code class="php">
// Find available time between two users for 2 hours within the next 3 weeks:
use Timekit\APIClient;
$timekit = new APIClient('demo');
$timekit-&gt;setUser(
  'doc.brown@timekit.io',
  'FluxCapacitator'
);
$response = $timekit-&gt;findtime(
  [
    'doc.brown@timekit.io',
    'marty.mcfly@timekit.io'
  ],
  [],
  '2 hours',
  '3 weeks'
);
print_r($response);
</code></pre>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div data-w-tab="cURL" class="w-tab-pane">
                  <div class="window window-dark">
                     <div class="window_bar window_bar-dark">
                        <div class="window_bar_button window_bar_button-dark"></div>
                        <div class="window_bar_button window_bar_button-dark"></div>
                        <div class="window_bar_button window_bar_button-dark"></div>
                     </div>
                     <div class="window_content">
                        <div class="w-clearfix codedemo">
                           <div class="w-embed codedemo_text">
                              <pre><code class="bash">
# Find available time between two users for 2 hours within the next 3 weeks:
curl -X POST \
     -H 'Timekit-App: demo' \
     -u doc.brown@timekit.io:FluxCapacitator \
     -d '{
           "emails": [
             "doc.brown@timekit.io",
             "marty.mcfly@timekit.io"
           ],
           "length": "2 hours",
           "future": "3 weeks"
         }' \
     https://api.timekit.io/v2/findtime
</code></pre>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div data-w-tab="Python" class="w-tab-pane">
                  <div class="window window-dark">
                     <div class="window_bar window_bar-dark">
                        <div class="window_bar_button window_bar_button-dark"></div>
                        <div class="window_bar_button window_bar_button-dark"></div>
                        <div class="window_bar_button window_bar_button-dark"></div>
                     </div>
                     <div class="window_content">
                        <div class="w-clearfix codedemo">
                           <div class="w-embed codedemo_text">
                              <pre><code class="python">
# Find available time between two users for 2 hours within the next 3 weeks:
import requests
url = 'https://api.timekit.io/v2/findtime'
headers = {
  'Timekit-App': 'demo',
  'Content-type': 'application/json', 
  'Accept': 'text/plain'
}
auth = (
  'doc.brown@timekit.io',
  'FluxCapacitator'
)
data = '{
  "emails": [
    "doc.brown@timekit.io",
    "marty.mcfly@timekit.io"
  ],
  "future": "2 days",
  "length": "30 minutes"
}'
response = requests.post(url, data=data, headers=headers, auth=auth)
print response.json
</code></pre>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="codepeek_aside">
               <p class="codepeek_text">Learn how to build “AirBnB for X” with our <a class="codepeek_link" target="_blank" href="../developers.timekit.io/docs/guide-find-time-book-appointment.html">Quickstart Guide</a><br><br>Search for availability with smart filters with <a class="codepeek_link" target="_blank" href="../developers.timekit.io/docs/findtime.html">Find Time</a> algorithm<br><br>Start building Javascript apps with our new <a class="codepeek_link" target="_blank" href="https://github.com/timekit-io/js-sdk">JS&nbsp;SDK</a> (github)</p>
            </div>
         </div>
         <div class="inlinecenter"><a href="../developers.timekit.io/index.html" target="_blank" class="button button-blue">SEE DOCS</a></div>
      </div>
   </div>
   <div class="w-section section section-padded section-center">
      <div data-ix="" class="w-container splitfeature">
         <div class="splitfeature_pretitle">build with timekit</div>
         <div class="section_sep"></div>
         <div class="w-row">
            <div class="w-col w-col-4 splitfeature_column">
               <h2 class="splitfeature_title">Booking-based Marketplaces</h2>
               <p class="splitfeature_text">Marketplaces that connect services to customers are hard to create. Building the availability and booking infrastructure with Timekit is not.</p>
               <img width="230" src="{{ siteUrl('/img/55ea1b56446aa36155cf6ff2_booking-marketplaces.png') }}" class="splitfeature_image">
            </div>
            <div class="w-col w-col-4 splitfeature_column">
               <h2 class="splitfeature_title">Virtual Assistants</h2>
               <p class="splitfeature_text">Timekit provides powerful features to match available timeslots between people. Use it to create intelligent virtual assistant or invent something entirely new.</p>
               <img width="230" src="{{ siteUrl('/img/55ea1b68b38b97ab25a924d0_virtual-assistant.png') }}" class="splitfeature_image splitfeature_image-margintop">
            </div>
            <div class="w-col w-col-4 splitfeature_column">
               <h2 class="splitfeature_title">Collaboration Software</h2>
               <p class="splitfeature_text">Collaboration is about connecting people. Whether it's&nbsp;CRM, support or sales software, you can use Timekit to connect users or resources.</p>
               <img width="230" src="{{ siteUrl('/img/55ea1b78b38b97ab25a924d1_collaboration-software.png') }}" class="splitfeature_image splitfeature_image-margintop">
            </div>
         </div>
         <a href="solutions.html" class="button button-blue">read more</a>
      </div>
   </div>
   {% endblock %}
   {% block body_end %}
   {% endblock %}